body {
 background-color: blanchedalmond;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;

};

.jumbotron {
background-color: rgb(175, 165, 145) !important;
margin-top: 10px;
border: 3px solid rgb(10, 10, 10);
color: black;

};

.row {
    border: 3px solid black;
    padding: 10%;
    margin-top: 20px;

};

.hour {
    background-color: thistle;
    text-align: center;
    border: 1px solid black;
    
};

textarea {
    border: 3px solid black;
    width: 100%;
    height: 100%;

};
.past {
    background-color: rgb(216, 134, 11);

};
.present {
    background-color: rgb(84, 233, 84);

};
.future {
   background-color: rgb(70, 221, 227);
};
.userInput {
    white-space: pre-wrap;
}

.saveBtn {
    border: 2px solid;
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    background-color: cadetblue;
};
